node_modules
dist
.env
.env.*
!.env.example
npm-debug.log
pnpm-debug.log
.git
.gitignore
README.md
.vscode
.idea
coverage
.DS_Store
*.log
Dockerfile
Dockerfile.dev
docker-compose.yml
.dockerignore








