# Asgardeo Configuration
ASGARDEO_CLIENT_ID=KYEfJzks5uXRratlXxNpS9dvpRQa
ASGARDEO_BASE_URL=https://api.asgardeo.io/t/testforfinalproject
ASGARDEO_JWKS_URI=https://api.asgardeo.io/t/testforfinalproject/oauth2/jwks
ASGARDEO_ISSUER=https://api.asgardeo.io/t/testforfinalproject/oauth2/token

# Server Configuration
PORT=8080
